.main-div{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;

}
.sidedesign{
    margin-top: -50px;
    justify-content: center;
    padding-top: 70px;
    width: 60%;
    height: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
}
   
svg{
    height: 600px;
    width: 600px;
}
.main-title{
    margin-top: -150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    color: rgb(29, 29, 156);
    text-decoration:underline;
    text-decoration-color: red;
}


.container {
    
    height: 100%;
    width: 40%; /* Container width for horizontal alignment */
    display: flex;
    margin-top: 200px;
    margin-right: -100px;
    /* margin-left: 350px; */
    justify-content: flex-end; /* Position form towards the right */
    padding-right: 10%; /* Move the form 10% away from the right edge */
}

form {
    /* border: 1px #000000 solid; */
    background-color: rgb(255, 255, 255);
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.title{
    text-align: center;
}
.content{
    margin-top: 275px;
    font-size: 35px;
    margin-right: 350px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
input[type="email"],
input[type="password"],
button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button[type="submit"] {
    background-color: rgb(61, 82, 244);
    color: white;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: rgb(1, 5, 7);
}
.register-link {
    text-align: center;
    margin-top: 10px;
}
.login-title{
    text-align: center;
}
*{
    cursor: pointer;
}