<div class="main">
    <div mat-dialog-title>
      <h1>Batch Form</h1>
    </div>
    
    <form [formGroup]="batchForm" (ngSubmit)="onFormSubmit()">
      <div mat-dialog-content class="content">
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Batch Name</mat-label>
            <input matInput type="text" placeholder="Ex. John" formControlName="bname" name="bname">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Start Date</mat-label>
            <input type="date" matInput formControlName="sdate" name="sdate">
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>End Date</mat-label>
            <input type="date" matInput formControlName="edate" name="edate">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Trainer</mat-label>
            <mat-select formControlName="trainer" name="trainer">
              <mat-option *ngFor="let trainer of trainers" [value]="trainer.uid">
                {{trainer.fname}} {{trainer.lname}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Course</mat-label>
            <mat-select formControlName="course" name="course">
              <mat-option *ngFor="let course of courses" [value]="course.id">
                {{course.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update' : 'Save'}}</button>
      </div>
    </form>
  </div>
  