<!-- <p>side-bar works!</p> -->

<div class="sidenav-header">
    <!-- <img width="100" height="100" src="/assets/profile.jfif" alt="" />
    <div class="header-text">
        <h2>John</h2>
    </div> -->
</div>

<mat-nav-list>
    <a 
        mat-list-item 
        class="menu-item"
        *ngFor="let item of menuItems()" 
        [routerLink]="item.route"
        routerLinkActive="selected-menu-item"
        #rla="routerLinkActive"
        [activated]="rla.isActive" >

        <mat-icon [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'" matListItemIcon>{{item.icon}}</mat-icon>
        <span matListItemTitle *ngIf="!sideNavCollapsed()">{{item.label}}</span>
<!-- 
        @if (item?.subItems) {
            <span matListItemMeta>
                @if (nestedMenuOpen()) {
                    <mat-icon>expand_less</mat-icon>
                }@else {
                    <mat-icon>expand_more</mat-icon>
                }
            </span>
        } -->
    </a>

    <!-- @if (item.subItems && nestedMenuOpen()) {
        <div>
            @for (subItem of item.subItems; track subItem.label) {
                <a 
                mat-list-item 
                class="menu-item"               
                [routerLink]="item.route + '/' + subItem.route"
                routerLinkActive
                #rla="routerLinkActive"
                [activated]="rla.isActive" >
        
                <mat-icon [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'" matListItemIcon>{{subItem.icon}}</mat-icon>
                <span matListItemTitle *ngIf="!sideNavCollapsed()">{{subItem.label}}</span>
            </a>
            }
        </div>
    } -->

</mat-nav-list>
